#Eclipse
.project
.classpath
.settings
.checkstyle
project.properties

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#OSX
.DS_Store
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

#Android
bin
gen
lint.xml
proguard
android-support-v4.jar
proguard.cfg
proguard-project.txt

#Ant
build.xml
ant.properties
local.properties

